<style>
input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
}
</style>

<div class="bigleft">
<h1> All Players </h1>

<%= form_tag(players_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search By Player Name" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

  <ol>
 <% @players.each do |p| %>
  <li><%=link_to p.name, player_path(p) %></li><br>
    <%end%>
  </ol>


</div>

<div class="bigleft">
  <form action= '/players/new'>
    <input type="submit" value="Create New Player" />
</form>
</div>
